### **DEMO 3**

In [2]:
import sqlite3

In [3]:
conexion=sqlite3.connect('T_C06-1C2025_demo3.db')

### EJEMPLO 1

In [ ]:
c = conexion.execute("select * from products")

for i in c:
    print(i)

In [ ]:
c = conexion.execute("select cod, qty from products where class='ADORNO' and price > 15000")

for i in c:
    print(i)

##### OTRA FORMA

In [ ]:
cur = conexion.cursor()

r = cur.execute("select cod, qty from products where class='ADORNO' and price > 15000;")

a = r.fetchall()    # me devuelve una lista

for i in a:
    print(f"código: {i[0]} cantidad: {i[1]}")

### EJEMPLO 2

In [ ]:
c = conexion.execute("select * from products where class='CUADRO' and qty > 1;")

for fila in c:
    print(fila)

##### CON CONTROL DE ERRORES

In [ ]:
try:
    c = conexion.execute("select * from products where class='CUADRO' and qty > 1;")
    for fila in c:
        print(fila)
except:
    print('ERROR NUMERO #1')

#### EJEMPLO 3

In [ ]:
c = conexion.execute("select p.desc, s.stk_qty from products p, stock s where p.cod = s.cod;")

for fila in c:
    print(fila)

#### EJEMPLO 4

In [ ]:
c = conexion.execute("insert into products (cod, desc, class, qty, price) values (?,?,?,?,?)", (7800, 'PORTARETRATO DIGITAL 30x15CM', 'RETRATO', 1, 10000))

##### VERIFICACIÓN

In [ ]:
c = conexion.execute("select * from products;")

for fila in c:
    print(fila)

#### EJEMPLO 5

In [ ]:
conexion.execute("update products set qty = 10 where cod = 9451")

##### VERIFICACIÓN

In [ ]:
c = conexion.execute("select cod, desc, qty from products where cod = 9451;")

for fila in c:
    print(fila)

#### EJEMPLO 6

In [ ]:
conexion.execute("update products set price = 1.043*price")

##### VERIFICACIÓN

In [ ]:
c = conexion.execute("select cod, desc, price from products")

for fila in c:
    print(fila)

In [ ]:
conexion.close()